@{
    ViewData["Title"] = "Página Inicial";
}

<section class="container mt-2">
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-group text-center">
                <li class="list-group-item">Projetos em andamento: <span class="text-right">0</span></li>
                <li class="list-group-item">Projetos em concluídos: <span class="text-right">0</span></li>
                <li class="list-group-item">Projetos cancelados: <span class="text-right">0</span></li>
                <li class="list-group-item">Projetos em análise: <span class="text-right">0</span></li>
                <li class="list-group-item">Projetos pendentes de aprovação: <span class="text-right">0</span></li>
            </ul>
        </div>
    </div>
</section>